<div id="<%= dom_id porcao %>">
  <p>
    <strong>Item:</strong>
    <%= porcao.item_id %>
  </p>

  <p>
    <strong>Peso utilizado:</strong>
    <%= porcao.peso_utilizado %>
  </p>

  <p>
    <strong>Custo:</strong>
    <%= porcao.custo %>
  </p>

</div>
