<% content_for :title, "Nova Porรงรฃo" %>

<h1>๐ฝ๏ธ Nova Porรงรฃo</h1>

<%= render "form", porcao: @porcao %>

<br>

<div>
  <%= link_to "Voltar รs porรงรตes", porcaos_path %> |
  <%= link_to "โ Home", root_path %>
</div>
